// @import "_mixins/font-face"

// +font-face("open-sans", "../fonts/OpenSansRegular/OpenSansRegular")
// +font-face("open-sans", "../fonts/OpenSansBold/OpenSansBold", bold)
// +font-face("open-sans", "../fonts/OpenSansLight/OpenSansLight", 300)
// +font-face("open-sans", "../fonts/OpenSansSemiBold/OpenSansSemiBold", 500)

// +font-face("magistral", "../fonts/MagistralRegular/MagistralRegular")
// +font-face("magistral", "../fonts/MagistralcBold/MagistralcBold", bold)

// +font-face("raleway-sans", "../fonts/RalewayRegular/RalewayRegular")
// +font-face("raleway-sans", "../fonts/RalewayBold/RalewayBold", bold)
// +font-face("raleway-sans", "../fonts/RalewayLight/RalewayLight", 300)
// +font-face("raleway-sans", "../fonts/RalewaySemiBold/RalewaySemiBold", 500)

// +font-face("montserrat-sans", "../fonts/MontserratRegular/MontserratRegular")
// +font-face("montserrat-sans", "../fonts/MontserratBold/MontserratBold", bold)
// +font-face("montserrat-sans", "../fonts/MontserratLight/", 300)
// +font-face("montserrat-sans", "../fonts/MontserratSemibold/MontserratSemibold", 500)

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl)
	@font-face
		font-family: $fname
		font-style: $fstyle
		font-weight: $fweight
		src: local($fname), url($furl) format('woff2')
		// font-display: swap // Uncomment to initially display system fonts

@include font('Magistral', normal, 700, '../fonts/magistral/magistral-medium-webfont.woff2')

@include font('Froboto', normal, 400, '../fonts/font-roboto/roboto-regular.woff2')
@include font('FrobotoFrobotoFroboto', italic, 400, '../fonts/font-roboto/roboto-italic.woff2')
@include font('FrobotoFroboto', normal, 700, '../fonts/font-roboto/roboto-bold.woff2')
@include font('Froboto', italic, 700, '../fonts/font-roboto/roboto-bolditalic.woff2')

// @include font('Fontawesome', normal, 700, '../fonts/fontawesome/fontawesome-webfont.woff2') 