@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	
	/* Header Start */
	/* Header End */
	
	/* Convenience Start */
	/* Convenience End */

	/* Characteristics Start */
	/* Characteristics End */

	/* Recipe Start */
	/* Recipe End */

	/* Modes Start */
	/* Modes End */

	/* Mode 8 Start */
	/* Mode 8 End */

	/* Constructor Start */
	/* Constructor End */

	/* About Start */
	/* About End */

	/* Additionally Start */
	/* Additionally End */

	/* Reviews Start */
	/* Reviews End */

	/* FAQ Start */
	/* FAQ End */

	/* Question Start */
	/* Question End */

	/* Footer Start */
	/* Footer End */

	/* Modal Start */
	/* Modal End */


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	
	/* Header Start */
	/* Header End */

	/* Recipe Start */
	/* Recipe End */
	

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	
	/* Header Start */
	/* Header End */

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	
	/* Header Start */
	/* Header End */
	
	/* Convenience Start */
	/* Convenience End */

	/* Characteristics Start */
	/* Characteristics End */

	/* Recipe Start */
	/* Recipe End */

	/* Modes Start */
	/* Modes End */

	/* Mode 8 Start */
	/* Mode 8 End */

	/* Constructor Start */
	/* Constructor End */

	/* About Start */
	/* About End */

	/* Additionally Start */
	/* Additionally End */

	/* Reviews Start */
	/* Reviews End */

	/* FAQ Start */
	/* FAQ End */

	/* Question Start */
	/* Question End */

	/* Footer Start */
	/* Footer End */

	/* Modal Start */
	/* Modal End */


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/* Header Start */

	.header-brand
		.header-logo
			img
				height: rem(40) // xs rem(32)
			p
				font-size: 10px // xs 8px

	.header-wellcome
		padding-top: rem(67) // sm rem(67) xs rem(40)
		.container-fluid
			.h2
				font-size: 28px // md 36px xs 22px
			.h3
				font-size: 64px // md 72px xs 48px
			.h1
				font-size: 20px // xs 16px
			.standart
				padding: 0 rem(14) // xs none
				border: 2px solid #000 // xs none
				top: rem(40) // md rem(45) rem(32)
				left: rem(365) // md rem(420) rem(258)
				font-size: 14px // md 20px xs 12px
			.check
				.check-item
					span
						font-size: 16px // xs 14px
			.formAction
				strong
					font-size: 16px // xs 14px
					left: rem(55) // sm rem(55) xs rem(40)
					bottom: rem(27) // sm rem(27) xs rem(10)
					.num
						font-size: 22px // xs 18px
			.form
				flex-direction: row
				.form-item
					width: 32%


	/* Header End */
	
	/* Convenience Start */
	/* Convenience End */

	/* Characteristics Start */

	.pr-bottom
		margin-bottom: rem(20)

	.characteristics
		.container-fluid
			.product
				.row
					.product-ds
						display: block

	/* Characteristics End */

	/* Recipe Start */

	.recipe
		.container-fluid
			.row
				.recipe-book
					.recipe-btn
						padding: rem(8) rem(32) // md rem(16) rem(48) xs rem(8)
						font-size: 16px // md 20px

	/* Recipe End */

	/* Modes Start */
	/* Modes End */

	/* Mode 8 Start */
	/* Mode 8 End */

	/* Constructor Start */
	/* Constructor End */

	/* About Start */
	/* About End */

	/* Additionally Start */
	/* Additionally End */

	/* Reviews Start */
	/* Reviews End */

	/* FAQ Start */
	/* FAQ End */

	/* Question Start */

	.question
		.container-fluid
			padding: rem(60) rem(100) rem(40) rem(100)
	/* Question End */

	/* Footer Start */
	/* Footer End */

	/* Modal Start */
	/* Modal End */


/* Custom */
// @media only screen and (min-width : 576px)
@media only screen and (min-width : 576px)
	.col-sm-2
		flex: 0 0 16.66667%
		max-width: 16.66667%

	.col-sm-5
		flex: 0 0 41.66667%
		max-width: 41.66667%

	.col-sm-6
		flex: 0 0 50%
		max-width: 50%

	.col-sm-7
		flex: 0 0 58.33333%
		max-width: 58.33333%

	/* Bonus Start */

	.bonus
		padding-top: rem(30) // 320 none
		.container-fluid
			.call
				font-size: 18px // 576 18px
				margin-bottom: rem(105) // 576 rem(105)
				.logo-font
					font-size: 22px // 576 22px
			.row
				padding: rem(60) // 320 rem(15)
				.bonus-item
					.img-box
						margin-top: rem(-160) // 320 none
					.title
						font-size: 16px // 576 16px
						height: rem(45) // 320 none
					.opis
						font-size: 12px // 576 12px
					.price
						.old
							font-size: 16px // 576 16px
						strong
							font-size: 20px // 576 20px
				.bonus-timer
					margin-top: rem(20) // 320 none
					.timer
						font-size: 32px // 576 32px
						#days2, #hours2, #minutes2, #seconds2
							min-width: rem(44) // 576 rem(44)

	/* Bonus End */

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	.col-md-2
		flex: 0 0 16.66667%
		max-width: 16.66667%

	.col-md-3
		flex: 0 0 25%
		max-width: 25%
		
	.col-md-4
		flex: 0 0 33.33333%
		max-width: 33.33333%

	.col-md-7
		flex: 0 0 58.33333%
		max-width: 58.33333%
		
	.col-md-8
		flex: 0 0 66.66667%
		max-width: 66.66667%

	.col-md-12
		flex: 0 0 100%
		max-width: 100%

	.hidden-up
		display: none

	.sm-hidden
		display: none!important

	.sm-show
		display: block!important

	/* Header Start */

	.header-nav-box
		flex-direction: row
	.header-brand
		width: inherit
		.phone-mobile, .icon
			display: none
	.header-navbar
		#menu
			display: flex
			flex-direction: row
			li
				.h-link
					&::after
						background-color: $accent
						display: block
						content: ""
						height: 2px
						width: 0%
						transition: width .3s ease
					&:hover::after, &:focus::after
						width: 100%
			li:last-child
				display: block
	.header-wellcome
		.container-fluid
			.img-1
				display: none
			.h2
				font-size: 36px // 28px
			.h3
				font-size: 72px // 64px
			.standart
				top: rem(45) // rem(40)
				left: rem(420) // rem(365)
				font-size: 20px // 14px
			.formAction, form
				min-width: rem(570)
			.order
				.order-bg
					display: block
				strong
					min-width: rem(520)
					left: rem(55) // sm rem(55) xs rem(40)
					bottom: rem(27) // sm rem(27) xs rem(10)
			.header-col-hd
				display: block


	/* Header End */
	
	/* Convenience Start */
	/* Convenience End */

	/* Characteristics Start */

	.characteristics
		.container-fluid
			.h3
				.title-no-mobile
					display: block
			.choose
				.litre-box
					flex-direction: row
					.litre-val
						margin-right: rem(10)
				.carSuh
					br
						display: none
					.bk-val, .car-val, .suh-val
						font-size: 16px
					.separate-cs
						display: inline
			.char-list
				.ch-name:after
					content: "......................................................................."
					position: absolute
					width: 100%
					font-family: Arial, sans-serif
					top: rem(2)
					margin-left: rem(10)
					font-size: 14px

			.char-list, .product
				margin: 0
			.char-form
				form
					flex-direction: row
					input
						margin-right: rem(10)

	/* Characteristics End */

	/* Recipe Start */

	.md-6
		flex: 0 0 33.33333%
		max-width: 33.33333%

	.recipe
		.container-fluid
			.row
				.recipe-book
					padding-top: rem(48)

	/* Recipe End */

	/* Modes Start */
	/* Modes End */

	/* Bonus Start */

	.bonus
		.container-fluid
			.call
				font-size: 24px // 576 18px
				margin-bottom: rem(150) // 576 rem(105)
				.logo-font
					font-size: 26px // 576 22px
			.row
				.bonus-item
					.title
						font-size: 22px // 576 16px
					.opis
						font-size: 14px // 576 12px
					.price
						.old
							font-size: 20px // 576 16px
						strong
							font-size: 26px // 576 20px
				.bonus-timer
					.timer
						font-size: 48px // 576 32px
						#days2, #hours2, #minutes2, #seconds2
							min-width: rem(60) // 576 rem(44)

	/* Bonus End */

	/* Mode 8 Start */

	.mode
		margin-bottom: rem(60)

	/* Mode 8 End */

	/* Constructor Start */

	.constructor
		.container
			.constr-row
				.constructor-control
					.h3
					.constructor-controls-filter
						margin-top: rem(30)
						padding: rem(20) rem(30)
						.constructor-controls-filter-valume
							.constructor-label
								font-size: 24px
							.constr-filter
								.litre
									ul
										text-align: inherit
								.choose
									display: inline
									.separate
										display: inline
					.complication
						margin-left: 0
	/* Constructor End */

	/* About Start */
	/* About End */

	/* Additionally Start */

	.additionally
		.container-fluid
			.row
				.h3
					font-size: 40px
					&:after
						margin-top: rem(66)

	/* Additionally End */

	/* Reviews Start */

	.recipe
		.container-fluid
			.row
				.recipe-book
					.recipe-btn
						padding: rem(16) rem(40)
						font-size: 20px


	/* Reviews End */

	/* FAQ Start */
	/* FAQ End */

	/* Question Start */
	/* Question End */

	/* Footer Start */
	/* Footer End */

	/* Modal Start */
	/* Modal End */


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	.col-lg-2
		flex: 0 0 16.66667%
		max-width: 16.66667%

	.col-lg-3
		flex: 0 0 25%
		max-width: 25%

	.col-lg-4
		flex: 0 0 33.33333%
		max-width: 33.33333%

	.col-lg-5
		flex: 0 0 41.66667%
		max-width: 41.66667%

	.col-lg-6
		flex: 0 0 50%
		max-width: 50%

	.col-lg-7
		flex: 0 0 58.33333%
		max-width: 58.33333%

	.md-show
		display: block!important

	/* Header Start */

	.header-navbar
		#menu
			li
				.h-link
					padding: rem(10) rem(20)
			.btnHead
				.btn
					padding: rem(10) rem(20)
					font-size: 16px
			li:last-child
				font-size: 16px
			


	/* Header End */
	
	/* Convenience Start */
	/* Convenience End */

	/* Characteristics Start */
	/* Characteristics End */

	/* Recipe Start */

	.recipe
		.container-fluid
			.row
				.recipe-box
					.recipe-img	
						display: block
	/* Recipe End */

	/* Modes Start */
	/* Modes End */

	/* Mode 8 Start */

	.mode-one
		.container-fluid
			.row
				.block
					.mode-box
						.row
							.title
								margin-right: rem(80)
	/* Mode 8 End */

	/* Constructor Start */

	.constructor-controls-filter-valume
		.choose
			padding-right: 0
			padding-left: 0

	/* Constructor End */

	/* About Start */
	/* About End */

	/* Additionally Start */
	/* Additionally End */

	/* Reviews Start */
	/* Reviews End */

	/* FAQ Start */
	/* FAQ End */

	/* Question Start */
	/* Question End */

	/* Footer Start */

	.footer
		.container-fluid
			.row
				.f-contact
					div
						width: 35% // lg 35% xs 100%
						a
							display: inline-block // lg inline-block xs block
							width: 50% // lg 50% xs 100%

	/* Footer End */

	/* Modal Start */
	/* Modal End */

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	.lg-show
		display: block!important

