@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	
	/* Header Start */
	/* Header End */



	/* Recipe Start */
	/* Recipe End */


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	
	/* Header Start */
	/* Header End */

	/* Recipe Start */
	/* Recipe End */
	

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	
	/* Header Start */
	/* Header End */

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	.col-lg-2
		flex: 0 0 16.66667%
		max-width: 16.66667%

	.col-sm-2
		flex: 0 0 16.66667%
		max-width: 16.66667%

	.col-sm-5
		flex: 0 0 41.66667%
		max-width: 41.66667%

	.col-sm-7
		flex: 0 0 58.33333%
		max-width: 58.33333%


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	.hidden-up
		display: none

	.col-md-2
		flex: 0 0 16.66667%
		max-width: 16.66667%

	.col-md-3
		flex: 0 0 25%
		max-width: 25%
		
	.col-md-4
		flex: 0 0 33.33333%
		max-width: 33.33333%

	.col-md-7
		flex: 0 0 58.33333%
		max-width: 58.33333%
		
	.col-md-8
		flex: 0 0 66.66667%
		max-width: 66.66667%

	.col-md-12
		flex: 0 0 100%
		max-width: 100%


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	.col-lg-2
		flex: 0 0 16.66667%
		max-width: 16.66667%

	.col-lg-3
		flex: 0 0 25%
		max-width: 25%

	.col-lg-4
		flex: 0 0 33.33333%
		max-width: 33.33333%

	.col-lg-5
		flex: 0 0 41.66667%
		max-width: 41.66667%

	.col-lg-6
		flex: 0 0 50%
		max-width: 50%

	.col-lg-7
		flex: 0 0 58.33333%
		max-width: 58.33333%

	.constructor-controls-filter-valume
		.choose
			padding-right: 0
			padding-left: 0

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

